<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  
  <link rel="stylesheet" href="/stylesheet/style.css">

  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
      <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
          <a href="/read" class="text-blue-500">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter">Update User</h1>
          <form action="/update/<%= user._id %>"  method="post"   class="mt-10">
             <input type="text" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded" type="text" placeholder="Enter Name " name="name" value="<%= user.name %>">
             <input type="text" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded" type="email" placeholder="Enter Email " name="email" value="<%= user.email %>">
             <input type="text" class="px-5 py-2 bg-transparent border-2 border-zinc-800 rounded" type="text" placeholder="imageurl" name="imageurl" value="<%= user.imageurl %>" >


             <input class="px-5 py-2 bg-yellow-500 text-black rounded-lg ml-3 cursor-pointer" type="submit" value="Update User">
          </form>  
      </div>
</body>
</html>